<head>
    <title>fan data</title>
    <style>
        .slave_stuff {
            margin: auto;
            width: 20%;
            border: 3px solid #3f3f3f;
            padding: 10px;
        }
        
        .mqtt {
            float: right;
            width: 37.5%;
            border: 3px solid #3f3f3f;
            padding: 10px;
        }
        
        .fan_stuff {
            float: left;
            width: 37.5%;
            border: 3px solid #3f3f3f;
            padding: 10px;
        }
    </style>
</head>

<body>
    __mqtt__
    <div class="fan_stuff">
        <form>
            <div>
                <input type="number" id="fan_pin" name="fan_pin" value="__fan_pin__">
                <label for="fan_pin">the pin where the fan is conneced to</label>
                <br>
                <input type="number" id="timeout" name="timeout" value="__timeout__">
                <label for="timeout">timeout for getting data from a slave</label>
                <br>
                <input type="number" id="pwm_frequency" name="pwm_frequency" value="__pwm_frequency__">
                <label for="pwm_frequency">pwm frequency</label>
                <br>
                <input type="number" id="minimal_fan_speed" name="minimal_fan_speed" max=100 value="__minimal_fan_speed__">
                <label for="minimal_fan_speed">minimal fan speed</label>
                <br>
                <input type="number" id="fan_off" name="fan_off" value="__fan_off__">
                <label for="fan_off">fan off temprature</label>
                <br>
                <input type="number" id="fan_full_on" name="fan_full_on" value="__fan_full_on__">
                <label for="fan_full_on">temprature for the fan to go full blast</label>
                <br>
                <input type="number" id="buffer" name="buffer" value="__buffer__">
                <label for="buffer">buffer used to keep your fan from turning on and off</label>
                <br>
                <input type="number" id="interval" name="interval" value="__interval__">
                <label for="interval">interval to update the fan speed</label>
                <br>
                <input type="checkbox" id="raspberry" name="raspberry" value="True" __raspberry__>
                <label for="raspberry ">is runing on a rpi</label>
                <br>
                <input type="checkbox" id="debug" name="debug" value="True" __debug__>
                <label for="debug">debug mode</label>
            </div>
            <div><input type="submit"></input>
            </div>
        </form>
    </div>
    <div class=slave_stuff>
        <div class="slave_list">
            __slave_list__
        </div>

        <div>
            <form action="/add">
                <div>
                    <div>
                        <hr>
                        <input type="text" id="ip" name="ip" maxlength=15>
                        <label for="ip">ip</label>
                        <br>
                        <input type="number" id="port" name="port">
                        <label for="port">port</label>
                    </div>
                </div>
                <div>
                    <input type="submit" value="add">
                </div>
            </form>
        </div>
    </div>
</body>