<form action="/mqtt" class="mqtt">
    <div>
        <input type="checkbox" id="mqtt_enabled" name="enabled" value="True" __mqtt_enabled__>
        <label for="mqtt_enabled">enable MQTT</label>
        <br>
        <input type="text" id="broker" name="broker" value="__broker__">
        <label for="broker">the MQTT broker</label>
        <br>
        <input type="text" id="clientid" name="clientid" value="__clientid__">
        <label for="clientid">a unique client id for MQTT</label>
        <br>
        <input type="number" id="decimals" name="decimals" value="__decimals__">
        <label for="decimals">the amount of decimals the data has</label>
        <br>
        <input type="text" id="fanspeedtopic" name="fanspeedtopic" value="__fanspeedtopic__">
        <label for="fanspeedtopic">minimal fan speed</label>
        <br>
        <input type="text" id="tempraturetopic" name="tempraturetopic" value="__tempraturetopic__">
        <label for="tempraturetopic">the topic for the MQTT message of the temprature </label>
        <br>
        <a>{id} is replaced by the id of machine and id:0 is the maxtemprature if {id} is not present then it wil only send the max temprature</a>
    </div>
    <div><input type="submit"></input>
    </div>
</form>